@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Saira:wght@500&display=swap");

body {
    font-family: "Saira", sans-serif;
}
.logoImg{
    width: 50px;
}
.mainBodyDiv{
    display: flex;
}
.leftDiv{
    border: 1px black solid;
    flex: 1;
    margin: 5px;
}
.midDiv{
    flex:4;
    /* border: 1px black solid; */
    margin: 5px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}
.rightDiv{
    flex:1.5;
    border: 1px black solid;
    margin: 5px;
}

@media(max-width:768px){
    .mainBodyDiv{
        flex-direction: column;
    }
    .leftDiv, .midDiv, .rightDiv{
        flex: 1;
    }
}

.postCard{
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(100, 100, 100) 3px solid;
    border-radius: 10px;
}
.postCard:hover{
    border: rgb(150, 153, 103) 3px solid;
}
.postCardUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3px;
}
.postCardMiddle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.postCardUserLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.postCardBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.postDetail{
    display: flex;
    gap: 10px;
    align-items: center;
}
.postUserImage{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.myPicDIv, .myMusicDiv{
    border: black 1px solid;
}

.rightDiv{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.postForm{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 8px;
}
.viewPostDiv{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.delLink{
    color: red;
}
.postOpDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}
.likingDiv{
    display: flex;
    gap: 5px;
}
.likeIcon , .postsIcon{
    height: 30px;
    margin-right: 3px;
}
.mainBody{
    margin-top: 5px;
}

.commentUser{
    display: flex;
    gap: 3px;
    align-items: center;
}
.commentTitle{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentCard , .commentBodyDiv{
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 3px;
}

.commentAvatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.singlePostUser{
    display: flex;
    align-items: center;
    gap: 3px;
}
.warningMessage{
    color: red;
}

.profileCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.profileTitleDiv{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    margin: 5px;
}
.profileSmallDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.profileCard span{
    word-break: break-all;
    font-size: larger;
}
.profileCard h4{
    color: rgb(160, 160, 160);
}
.likeNpostCount{
    display: flex;
    gap: 25px;
    align-items: center;
}
.labelNinput{
    display: flex;
    align-items: center;
    gap: 5px;
}
.myCardPosts{
    display: flex;
    align-items: center;
    gap: 8px;
}
.myLeftCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 3px;
}
.myLeftCardImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.footerDiv{
    background-color: rgb(180, 180, 180);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}